<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cats</title>
  </head>
  <body>
    <main>
        <h2>All Cats</h2>
        <table>
            <thead>
                <tr>
                    <th>Cat's number</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Department</th>
                    <th>Salary</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(person=> { %>
                    <tr>
                        <td>
                            <%= person.id %>
                        </td>
                        <td>
                            <%= person.firstname %>
                        </td>
                        <td>
                            <%= person.lastname %>
                        </td>
                        <td>
                            <%= person.department %>
                        </td>
                        <td>
                            <%= person.salary %>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
        <a href="/"><button>Menu</button></a>
    </main>

  </body>
</html>
