<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cats</title>
  </head>
  <body>
    <main>
      <h2>All Cats</h2>
      <table>
        <thead>
          <tr>
            <th>Number</th>
            <th>Name</th>
            <th>Weight</th>
            <th>Year of birth</th>
            <th>Breed</th>
          </tr>
        </thead>
        <tbody>
          <% result.forEach(cat=> { %>
          <tr>
            <td><%= cat.number %></td>
            <td><%= cat.name %></td>
            <td><%= cat.weight %></td>
            <td><%= cat.yearOfBirth %></td>
            <td><%= cat.breed %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <a href="/"><button>Menu</button></a>
    </main>
  </body>
</html>
