<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <main>
        <h1>
            <%= header1 %>
        </h1>
        <form action="<%= action %>" method="POST">
            <div>
                <p>
                    <label for="number">Cat number: </label>
                    <input type="text" id="number" , name="number" size="5" value="<%= number.value %>" <%= number.readonly %> />
                </p>
            </div>
            <div>
                <p>
                    <label for="name">Name: </label>
                    <input type="text" id="name" , name="name" size="15" value="<%= name.value %>"
                        <%= name.readonly %> />
                </p>
            </div>
            <div>
                <p>
                    <label for="weightKg">Weight: </label>
                    <input type="text" id="weightKg" , name="weightKg" size="15" value="<%= weightKg.value %>"
                        <%= weightKg.readonly %> />
                </p>
            </div>
            <div>
                <p>
                    <label for="yearOfBirth">Year of birth: </label>
                    <input type="text" id="yearOfBirth" , name="yearOfBirth" size="15" value="<%= yearOfBirth.value %>"
                        <%= yearOfBirth.readonly %> />
                </p>
            </div>
            <div>
                <p>
                    <label for="breed">Breed: </label>
                    <input type="text" id="breed" , name="breed" size="15" value="<%= breed.value %>"
                        <%= breed.readonly %> />
                </p>
            </div>
            <button type="submit">Submit</button>
        </form>

        <a href="/"> <button>Menu</button></a>
    </main>
</body>

</html>